In [107]:
import numpy as np
import pandas as pa
import matplotlib.pyplot as plt
import seaborn as sns
import warnings 
warnings.filterwarnings('ignore')
print("Libraries imported")

Libraries imported

In [108]:

df = pa.read_csv('Used_Bikes.csv')
df

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha
...,...,...,...,...,...,...,...,...
32643,Hero Passion Pro 100cc,39000.0,Delhi,22000.0,First Owner,4.0,100.0,Hero
32644,TVS Apache RTR 180cc,30000.0,Karnal,6639.0,First Owner,9.0,180.0,TVS
32645,Bajaj Avenger Street 220,60000.0,Delhi,20373.0,First Owner,6.0,220.0,Bajaj
32646,Hero Super Splendor 125cc,15600.0,Jaipur,84186.0,First Owner,16.0,125.0,Hero
32647,Bajaj Pulsar 150cc,22000.0,Pune,60857.0,First Owner,13.0,150.0,Bajaj

In [109]:
df2 = df['brand'].value_counts()
df2

brand
Bajaj              11213
Hero                6368
Royal Enfield       4178
Yamaha              3916
Honda               2108
Suzuki              1464
TVS                 1247
KTM                 1077
Harley-Davidson      737
Kawasaki              79
Hyosung               64
Benelli               56
Mahindra              55
Triumph               26
Ducati                22
BMW                   16
Jawa                  10
MV                     4
Indian                 3
Ideal                  2
Rajdoot                1
LML                    1
Yezdi                  1
Name: count, dtype: int64

In [110]:

ls = list(df['brand'].value_counts().keys())
dt = {}  # Assuming dt is an empty dictionary

# Use the length of ls for the loop
for i in range(len(ls)):
    dt[ls[i]] = i

dt  # Display the resulting dictionary

{'Bajaj': 0,
 'Hero': 1,
 'Royal Enfield': 2,
 'Yamaha': 3,
 'Honda': 4,
 'Suzuki': 5,
 'TVS': 6,
 'KTM': 7,
 'Harley-Davidson': 8,
 'Kawasaki': 9,
 'Hyosung': 10,
 'Benelli': 11,
 'Mahindra': 12,
 'Triumph': 13,
 'Ducati': 14,
 'BMW': 15,
 'Jawa': 16,
 'MV': 17,
 'Indian': 18,
 'Ideal': 19,
 'Rajdoot': 20,
 'LML': 21,
 'Yezdi': 22}

In [128]:
import sys
print(sys.executable)

/Users/mihir/Desktop/Data_Science/.venv/bin/python

In [129]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in /Users/mihir/Desktop/Data_Science/.venv/lib/python3.12/site-packages (1.5.1)
Requirement already satisfied: numpy>=1.19.5 in /Users/mihir/Desktop/Data_Science/.venv/lib/python3.12/site-packages (from scikit-learn) (2.0.0)
Requirement already satisfied: scipy>=1.6.0 in /Users/mihir/Desktop/Data_Science/.venv/lib/python3.12/site-packages (from scikit-learn) (1.14.0)
Requirement already satisfied: joblib>=1.2.0 in /Users/mihir/Desktop/Data_Science/.venv/lib/python3.12/site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /Users/mihir/Desktop/Data_Science/.venv/lib/python3.12/site-packages (from scikit-learn) (3.5.0)

In [130]:
import sys
print(sys.executable)

/Users/mihir/Desktop/Data_Science/.venv/bin/python

In [132]:
import sklearn
print("Imported")

Imported

In [133]:
from sklearn.model_selection import train_test_split